<footer class="footer" style="background-color: #e8505b; height: 8%;padding: 1%; text-align: center; margin: 0; font-weight: 500;">

    <h5>Contact Us</h5>
    <div style="font-size: 2rem;">
        <a href="#" style="margin: 0 1%; color: black;"><i class="fab fa-instagram social-icon"></i></a>
        <a href="#" style="margin: 0 1%; color: black;"><i class="fab fa-facebook social-icon"></i></a>
        <a href="#" style="margin: 0 1%; color: black;"><i class="fab fa-twitter social-icon"></i></a>
        <a href="#" style="margin: 0 1%; color: black;"><i class="fas fa-envelope social-icon"></i></a>
    </div>
    <p>CopyRight &COPY; By Krishan Kumar since 2020, India</p>
</footer>