<%- include('partials/header') %>


    <div class="container-fluid admitcard-div">


        <div class="row">
            <div class="col-md-4 col-sm-12 col">
                <div class="main-headings">
                    <h2>Latest Admit Card</h2>
                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">cbse 10th admit card </a>
                    <a href="#" class="list-group-item list-group-item-action">U.P police constable 2020 admit card </a>
                    <a href="#" class="list-group-item list-group-item-action">SSC CGL Tier-1 admit card 2020 </a>
                    <a href="#" class="list-group-item list-group-item-action ">GATE admit card 2020 </a>
                    <a href="#" class="list-group-item list-group-item-action ">cbse 12th admit card 2020 </a>
                    <a href="#" class="list-group-item list-group-item-action ">SSC CPO delhi 2020 Admit card </a>
                    <a href="#" class="list-group-item list-group-item-action ">Haryana police constable(men) 2020 admit card</a>
                    <a href="#" class="list-group-item list-group-item-action ">Indian Navy AA SSR 2020 admit card AUG batch</a>
                    <a href="#" class="list-group-item list-group-item-action ">Indian Navy MR Aug Batch 2020 admit card </a>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col">
                <div class="main-headings">
                    <h2>Expexted Admit Card</h2>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">up police sub inspector/daroga <h6>Expexted By:25/08/2020</h6></a>
                    <a href="#" class="list-group-item list-group-item-action">Haryana police constable(women) 2020</a>
                    <a href="#" class="list-group-item list-group-item-action">SSC CGL Tier-2 </a>
                    <a href="#" class="list-group-item list-group-item-action ">Indian Air Force Group X&Y</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>