<%- include('partials/header') %>

    <div class="main">
        <div class="row row-1">
            <img src="/images/job.jpg" alt="" class="home-img">
            <p class="tagline">JUST SHAKE HANDS WITH GOVERMENT SECTOR AND MAKE YOUR CARRER BRIGHT </p>
        </div>
    </div>





    <%- include('partials/footer') %>