<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/52d8815d13.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">

        <h1 class="navbar-brand login-page-title">GovermentJobs Login </h1>

        <div class="row main-row">

            <button type="button" class="btn btn-primary btn-lg btn-block fb-btn" style="background-color: #3b5998;"><i class="fab fa-facebook-f"></i>   Login with Facebok</button>
            </br>
            <button type="button" class="btn btn-danger btn-lg btn-block google-btn "><i class="fab fa-google"></i> Login with Google</button>
            </br>
            <form class="form login-form">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                </div>
                <div class="form-group" id>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required>
                </div>
                <div> <a href="#">Forgot Password</a></div>
                <button type="submit" class="btn btn-lg btn-block submit-btn" style="background-color: #e8505b;">Login<i class="fas fa-sign-in-alt"></i></button>
                <div>
                    <p>Don't have an account Please <a href="/signup">Register Here</a></p>
                </div>
            </form>

        </div>
    </div>
</body>

</html>