<%- include('partials/header') %>


    <div class="container-fluid result-div">
        <div class="row">
            <div class=" col col-md-4 col-sm-12">
                <div class="main-headings">
                    <h2>Latest Results</h2>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in </a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus </a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac </a>
                    <a href="#" class="list-group-item list-group-item-action ">Vestibulum at eros </a>
                </div>
            </div>
            <div class="col col-md-4 col-sm-12">
                <div class="main-headings">
                    <h2>Expexted Results</h2>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item list-group-item-action ">Vestibulum at eros</a>
                </div>
            </div>

            <div class="col col-md-4 col-sm-12">
                <div class="main-headings">
                    <h2>Board Exam Results</h2>
                </div>
                <div class="list-group">
                    <a href="http://cbseresults.nic.in/class10/Class10th20.htm" target="_blank" class="list-group-item list-group-item-action "> CBSE BOARD 10th RESULT 2020</a>
                    <a href="http://cbseresults.nic.in/class12/Class12th20.htm" target="_blank" class="list-group-item list-group-item-action ">CBSE BOARD 12th RESULT 2020</a>
                    <a href="http://upresults.nic.in/HighSchoolResult.aspx" target="_blank" class="list-group-item list-group-item-action">U.P BOARD 10th RESULT 2020</a>
                    <a href="http://upresults.nic.in/IntermediateResult.aspx" target="_blank" class="list-group-item list-group-item-action ">U.P BOARD 12th RESULT 2020</a>
                    <a href="https://www.results.shiksha/haryana/" target="_blank" class="list-group-item list-group-item-action ">Haryana Board 12th RESULT 2020</a>
                    <a href="https://bsehexam2017.in/Result2020/mainresult.aspx" target="_blank" class="list-group-item list-group-item-action ">Haryana Board 10th RESULT 2020</a>

                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer') %>