<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/52d8815d13.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="signup-container">

        <h1>Register Here </h1>


        <div class="row main-signup-row">
            <div class="col  col-md-6 col-sm-12 col-12">
                <img class="img" src="/images/signup-img.jpg" alt="image_">
            </div>
            <div class="col  col-md-6 col-sm-12">
                <form class="form register-form">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name" required>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number" required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" required>
                    </div>

                    <button type="submit" class="btn  btn-lg btn-block register-btn" style="background-color: #e8505b;">Register<i class="fas fa-sign-in-alt"></i></button>

                </form>
            </div>
        </div>
    </div>
</body>

</html>